/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  width: 680px;
  height: 800px;
  display: grid;
  grid:
        "a a" 60px
        "b c" 740px
        /180px 500px;
}
 .header {
   grid-area: a;
   background-color: #487b8f;
 }
 .sidebar {
   grid-area: b;
   background-color: #b2b2b2;
 }
 .main {
   grid-area: c;
 }
 .main-table-front {
   display: flex;
   height: 80px;
   width: 100%;
   background-color: #CCCCCC;
 }
 .container {
  width: 400px;
  margin: 20px auto;
 }

 body {
  font-family: Verdana, sans-serif;
  font-size: 14px;
 }
 h1 {
  margin: 0;
  font-size: 18px;
  padding-top: 16px;
  padding-left: 18px;
 }
 h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 28px 0;
 }
 a {
   text-decoration: none;
   color: black;
 }
 a:hover {
   color: #cccccc;
 }

 ul > li {
  margin-bottom: 5px;
  list-style: none;
 }

 input[type="text"], textarea {
   box-sizing: border-box;
   width: 240px;
   padding: 5px;
 }

 form{
    margin: 24px;
 }

 textarea {
   height: 160px;
 }

 .error {
  font-size: 12px;
  font-weight: bold;
  color: tomato;
}

.command {
  font-size: 12px;
}

h3 {
  font-size: 14px;
  padding-top: 25px;
}

th {
  padding: 20px 54px;
}
td {
  padding: 10px;
}
.category_th {
  padding: 8px;
}
.option_th {
  padding: 12px;
}
.flex {
  display: flex;
}
.btn-primary {
  flex: auto;
  margin: 40px 0px;
}
