<%= form_for @category do |f| %>
<p>
  <%= f.text_field :name, placeholder: 'enter name' %>
  <% if @category.errors.messages[:name].any? %>
  <span class="error"><%= @category.errors.messages[:name][0] %></span>
  <% end %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
